.header{
    margin-top: 60px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans JP' 'Sans-serif';
    color: Black;
}

.headerTitleSm{
    position: absolute;
    top: 15%;
    font-size: 20px;
}

.headerTitleLg{
    position: absolute;
    top: 18%;
    font-size: 100px;
}

.headerImage{
    width: 100%;
    height: 450px;
    margin-top: 8px;
    object-fit: cover;
}