/* ===== Basic Styling and Alignment ===== */
.menuBar{
    width: 100%;
    height: 80px;
    background-color: White;
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;

    font-family: 'Julius Sans One', sans-serif;
}

.left, .right{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuMediaIcon{
    font-size: 40px;
    margin-right: 10px;
    color: #37667E;
    cursor: pointer;
}

.menuSearchIcon{
    font-size: 40px;
    margin-right: 10px;
    color: #37667E;
    cursor: pointer;
}

.menuImage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.center{
    flex: 6;
}



/* ===== Child Element Arrangement ===== */













/* ========== Pallette ========== */
.myColors{
    color: #B8E0F6;
    color: #A4CCE3;
    color: #37667E;
    color: #DEC4D6;
    color: #7B92AA;
}

/*
Palette from here:
https://offeo.com/learn/20-pastel-spring-summer-color-palettes/
*/