.sidebar{
    flex: 3;

    margin: 20px;
    padding-bottom: 30px;

    background-color: #fdfbfb;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* ===== Affects the Sub-section Titles of the Sidebar ===== */
.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;

    font-family: 'Oswald', Sans-serif;
    font-size: 12px;
    color: #222;
    font-weight: 300;

    line-height: 20px;
    text-align: center;
}



/* ===== Sidebar Image Styling & p-tags ===== */
.sidebarItem > img{
    width: 300px;
    height: 300px;

    margin-top: 30px;
}

.sidebarItem > p {
    padding: 30px;
}



/* ===== List Decor and Positioning ===== */
.sidebarList{
    list-style: none;
    margin-bottom: 30px;
}
.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}



/* ===== Media Icons ===== */
.sidebarSocial{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarMediaIcon{
    font-size: 16px;
    margin-left: 15px;
    cursor: pointer;
    color: #37667E;
}